{% extends 'base.html.twig' %}

{% block title %}Hello SupprimFHFController!{% endblock %}

{% block body %}
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>

    <div class="center-container">
        <a href="{{ path('app_saisir_fiche_frais') }}" class="btn btn-primary">Go Back</a>
    </div>

{% endblock %}