{% extends 'base.html.twig' %}

{% block title %}Saisir Fiche Frais{% endblock %}

{% block body %}
    <div class="container">
        <h1>Saisir Fiche Frais</h1>

        <div class="row">
            <div class="col-md-6">
                {{ form_start(formFraisForfait) }}
                {{ form_widget(formFraisForfait) }}
                <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(formFraisForfait) }}
            </div>

        </div>
    </div>
{% endblock %}
